html {scroll-behavior: smooth;}
.container{width:100%;max-width:1360px; margin:0 auto;}
.navigation {height:auto;padding:20px;}
.brand {width: 200px;}
.brand a img{width:100%;}
.brand a,.brand a:visited {color: #ffffff;text-decoration: none;}
.nav-container {display: flex;justify-content: space-between;}
nav {align-self: center;}
nav ul {list-style: none;margin: 0;padding: 0;}
nav ul li {float: left;position: relative;}
nav ul li a,nav ul li a:visited {display: block;padding: 0 20px;color: #6d7278;text-decoration: none;font-family: 'Poppins', sans-serif;font-size:14px;}
nav ul li a:hover,nav ul li a:visited:hover {}
nav ul li a:not(:only-child):after,nav ul li a:visited:not(:only-child):after {padding-left: 4px;content: ' ▾';}
nav ul li ul li {min-width: 190px;}
nav ul li ul li a {padding: 15px;line-height: 20px;}

.nav-dropdown {position: absolute;display: none;z-index: 1;box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);}

/* Mobile navigation */
.nav-mobile {display: none;position: absolute;top: 0;right: 0;background: #404e74;height: 70px;width: 70px;}
.stickyhead {left: 0;position: static;z-index: 999;width: 100%;top: -84px;transition: top .5s;box-shadow: 0 0 7px #ccc;box-sizing: border-box;}

.stickyhead.sticky {position: fixed;background: #fff;top: 0;box-shadow: 0 1px 5pxrgba(0,0,0,.5);z-index: 9999;}


#nav-toggle {position: absolute;left: 18px;top: 22px;cursor: pointer;padding: 10px 35px 16px 0px;}
#nav-toggle span,#nav-toggle span:before,#nav-toggle span:after {cursor: pointer;border-radius: 1px;height: 5px;width: 35px;background: #ffffff;position: absolute;display: block;content: '';transition: all 300ms ease-in-out;}
#nav-toggle span:before {top: -10px;}
#nav-toggle span:after {bottom: -10px;}
#nav-toggle.active span {background-color: transparent;}
#nav-toggle.active span:before, #nav-toggle.active span:after {top: 0;}
#nav-toggle.active span:before {transform: rotate(45deg);}
#nav-toggle.active span:after {transform: rotate(-45deg);}

h2.cer::before {width: 100px;height: 100px;content: "";position: absolute;background: #c5fdf0;border-radius: 50%;z-index: -1;top: -50px;left: -22px;background: -moz-linear-gradient(-45deg, #c5fdf0 0%, #c5fdf0 58%, #f5fefd 100%);background: -webkit-linear-gradient(-45deg, #c5fdf0 0%,#c5fdf0 58%,#f5fefd 100%);
background: linear-gradient(135deg, #c5fdf0 0%,#c5fdf0 58%,#f5fefd 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5fdf0', endColorstr='#f5fefd',GradientType=1 );}
h2{color:#404e74;line-height:40px; font-size:24px;font-weight:600;position:relative;}
h2::after {content: "";width: 42px;height: 14px;position: absolute;left: 0;top: -13px;background: url(../images/svg/dots.svg) left top no-repeat;}
.verticals h2::after, .clients h2::after, .contact h2::after, .services h2::after{left: 0;right: 0;margin: auto;}

p{color:#8d95a0;font-size:14px;line-height:24px;padding:10px 0;}
.readmore-btn {background:#0f3f78;color:#fff;padding: 12px 40px;text-decoration: none;font-size: 14px;margin: 6px 0;display: inline-block;border-radius: 24px;box-shadow: 2px 4px 8px rgba(15,63,120,0.5);}
.readmore-btn:hover{background: linear-gradient(129deg,#ffb843,#f17b3d);}
.master-row{display:flex;flex-wrap:wrap;align-items: center;margin-bottom: 10%;}
.desc-sec, .img-sec{width:50%;padding:2%;box-sizing:border-box;}

#aboutus{background:url(../images/svg/bg-cricle.svg) left top no-repeat;background-size: 33%;}
.services-bg{position: relative;width:100%;}
.services-bg::after {width: 54%;height: 100%;content: "";position: absolute;left: auto;right:0;background: url(../images/svg/bg-cricle.svg) left top no-repeat;transform: rotate(-180deg);top: 0;z-index: -1;background-size: 65%;}
.services {margin-bottom: 10%;width:96%;margin:0 auto;position:relative;}
.services h2, .verticals h2, .clients h2, .contact h2 {text-align: center;width: 100%;}
.services p {text-align: center;}
.ser-master {display:flex;flex-wrap:wrap; justify-content:space-between;margin: 20px 0;}
.ser-child{ width:23%;text-align: center;border-radius:4px;box-shadow:0px 0px 3px rgba(0,0,0,0.2);padding:2%;box-sizing:border-box;margin-bottom: 2%;display:flex;flex-wrap:wrap;}
.ser-child p{padding:0;align-self:flex-end;width:100%;}
.ser-child:hover {background: linear-gradient(129deg,#ffb843,#f17b3d);cursor:pointer;transition:all 0.3s ease-in;box-shadow: 0px 11px 11px #f17b3d;}
.ser-icon{display:inline-block;align-self:flex-start;width: 100%;height: 100px;}
.ser-icon.ux {background: url(../images/svg/uiux-regular.svg) center top no-repeat;}
.ser-icon.sdev {background: url(../images/svg/software-dev.svg) center top no-repeat;}
.ser-icon.wdev {background: url(../images/svg/web-dev.svg) center top no-repeat;}
.ser-icon.cloud {background: url(../images/svg/cloud-based.svg) center top no-repeat;}
.ser-icon.big {background: url(../images/svg/big-data.svg) center top no-repeat;}
.ser-icon.anim {background: url(../images/svg/animation.svg) center top no-repeat;}
.ser-icon.sec {background: url(../images/svg/security.svg) center top no-repeat;}
.ser-icon.adv-tech {background: url(../images/svg/advanced-tech.svg) center top no-repeat;}

.ser-child:hover p{color:#fff;}
.ser-child:hover .ser-icon.ux {background: url(../images/svg/uiux-selected.svg) center top no-repeat;}
.ser-child:hover .ser-icon.sdev {background: url(../images/svg/software-dev-selected.svg) center top no-repeat;}
.ser-child:hover .ser-icon.wdev {background: url(../images/svg/web-dev-selected.svg) center top no-repeat;}
.ser-child:hover .ser-icon.cloud {background: url(../images/svg/cloud-based-selected.svg) center top no-repeat;}
.ser-child:hover .ser-icon.big {background: url(../images/svg/big-data-selected.svg) center top no-repeat;}
.ser-child:hover .ser-icon.anim {background: url(../images/svg/animation-selected.svg) center top no-repeat;}
.ser-child:hover .ser-icon.sec {background: url(../images/svg/security-selected.svg) center top no-repeat;}
.ser-child:hover .ser-icon.adv-tech {background: url(../images/svg/advanced-tech-selected.svg) center top no-repeat;}

.desc-sec ul {padding-left: 20px;}
.desc-sec ul li {color: #8d95a0;font-size: 14px;line-height: 24px;text-align: justify;list-style-type: disc;padding-left: 10px;margin-bottom: 10px;}

#services{margin-bottom:10%;}
.part-master{display:flex;flex-wrap:wrap;margin-bottom: 10%;}
.part-child{width:48%;display: flex;align-items: center;margin-bottom:20px;}
.part-child .icon {width: 50px;margin-right: 30px;}
.part-child span {color: #8d95a0;font-size: 14px;line-height: 24px;}

.verticals{width:96%; margin:0 auto;margin-bottom: 10%;}
.ver-master {display:flex;flex-wrap:wrap; justify-content:space-between;margin: 20px 0;}
.var-icon{display:inline-block;align-self:flex-start;width: 100%;height: 100px;}
.ver-child{cursor: pointer; width:18%;text-align: center;border-radius:4px;box-shadow:0px 0px 3px rgba(0,0,0,0.2);padding:2%;box-sizing:border-box;margin-bottom: 2%;display:flex;flex-wrap:wrap;}
.verticals p {text-align: center;}
.ver-child p{padding:0;align-self:flex-end;width:100%;}
.ver-child:hover {box-shadow: 0px 0px 37px rgba(0,0,0,0.2);
}
.ver-icon{display:inline-block;align-self:flex-start;width: 100%;height: 100px;}
.ver-icon.insure {background: url(../images/svg/insure-tech-normal.svg) center top no-repeat;}
.ver-icon.health {background: url(../images/svg/health-tech-normal.svg) center top no-repeat;}
.ver-icon.commerce {background: url(../images/svg/ecommerce-normal.svg) center top no-repeat;}
.ver-icon.media {background: url(../images/svg/media-normal.svg) center top no-repeat;}
.ver-icon.chain {background: url(../images/svg/supply-chain-normal.svg) center top no-repeat;}

.ver-child:hover p{color:#f17b3d;}
.ver-child:hover .ver-icon.insure {background: url(../images/svg/insure-tech-selected.svg) center top no-repeat;}
.ver-child:hover .ver-icon.health {background: url(../images/svg/health-tech-selected.svg) center top no-repeat;}
.ver-child:hover .ver-icon.commerce {background: url(../images/svg/ecommerce-selected.svg) center top no-repeat;}
.ver-child:hover .ver-icon.media {background: url(../images/svg/media-selected.svg) center top no-repeat;}
.ver-child:hover .ver-icon.chain {background: url(../images/svg/supply-chain-selected.svg) center top no-repeat;}

.clients{width:75%; margin:0 auto;margin-bottom: 10%;}
.clients p{text-align:center;padding:0;}
.location-maps{text-align:center;margin-bottom: 10%;}

.location-map {position: relative;width:75%;margin:0 auto;}
.location {width: 3%;height:6%;z-index: 9;position: absolute;}
.location.one {left: 13%;top: 39%;}
.location.two {left: 25%;top: 35%;}
.location.three {left: 68%;top: 47%;}
.loc-name {color: #fff;background: #999;width: auto;border-radius: 4px;height: auto;line-height: 30px;white-space: nowrap;display: none;position: relative;top: 0;left:0;transition:all 0.5s elinear;}
.location:hover > .loc-name {display: inline-block;	padding: 0 20px; top:36px;}
.loc-name::before {width: 0;height: 0;content: "";border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid #999;position: absolute;left: 8px;right: auto;top: -5px;margin: auto;}

.contact{width:100%; margin:0 auto;margin-bottom:5%;}
.contact p{width:70%;text-align:center;padding:0;margin:0 auto;position: relative;}
.contact p::after {width: 50%;height: 2px;background: #ccc;position: absolute;content: "";top:90px;left: 0;right: 0;bottom: 0;margin: auto;}

.support {width: 96%;display: flex;flex-wrap: wrap;margin: 0 auto 25px;}
.sup-child{cursor: pointer;width: 24%;color:#8d95a0;font-size: 14px;line-height: 24px;align-self: center;position:relative;}
.sup-child:after{position:absolute;content:""; left:0; bottom:-10px;width:10%;height:2px;
background: rgb(34,68,170);
background: -moz-linear-gradient(left,  rgba(34,68,170,1) 0%, rgba(244,78,48,1) 49%, rgba(244,78,48,1) 49%, rgba(249,249,37,1) 100%);
background: -webkit-linear-gradient(left,  rgba(34,68,170,1) 0%,rgba(244,78,48,1) 49%,rgba(244,78,48,1) 49%,rgba(249,249,37,1) 100%);
background: linear-gradient(to right,  rgba(34,68,170,1) 0%,rgba(244,78,48,1) 49%,rgba(244,78,48,1) 49%,rgba(249,249,37,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2244aa', endColorstr='#f9f925',GradientType=1 );
transition:all 0.5s ease-in-out;}
.sup-child:hover:after{position:absolute;content:""; left:0; bottom:-10px;width:80%;height:2px;
background: rgb(34,68,170);
background: -moz-linear-gradient(left,  rgba(34,68,170,1) 0%, rgba(244,78,48,1) 49%, rgba(244,78,48,1) 49%, rgba(249,249,37,1) 100%);
background: -webkit-linear-gradient(left,  rgba(34,68,170,1) 0%,rgba(244,78,48,1) 49%,rgba(244,78,48,1) 49%,rgba(249,249,37,1) 100%);
background: linear-gradient(to right,  rgba(34,68,170,1) 0%,rgba(244,78,48,1) 49%,rgba(244,78,48,1) 49%,rgba(249,249,37,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2244aa', endColorstr='#f9f925',GradientType=1 );
}

.footer-child{width: 24%;color:#8d95a0;font-size: 14px;line-height: 24px;}
.footer-child h3{color:#6d7278;font-weight:600;}
.footer-child ul li a {font-size: 12px;text-decoration: none;color: #999;}
.footer-child ul li a:hover{color:#f17b3d;}
.social a{width:31px; height:31px; display:inline-block;font-size:0;}
a.fb{background:url(../images/social-icons.png) 0 0 no-repeat;}
a.tw{background:url(../images/social-icons.png) -35px 0 no-repeat;}
a.in{background:url(../images/social-icons.png) -70px 0 no-repeat;}

a.fb:hover{background:url(../images/social-icons.png) 0 -33px no-repeat;}
a.tw:hover{background:url(../images/social-icons.png) -35px -33px no-repeat;}
a.in:hover{background:url(../images/social-icons.png) -70px -33px no-repeat;}

.footer-child input{border: 1px solid #ccc;font-size: 12px;width: 100%;height: 33px;border-radius: 18px;margin-bottom: 5px;padding: 0 11px;font-family: 'Poppins', sans-serif;box-sizing: border-box;}
.footer-child input:focus,.footer-child textarea:focus{box-shadow: 0px 0px 8px #ccc;}

.footer-child textarea{border: 1px solid #ccc;font-size: 12px;width: 100%;height: 50px;border-radius: 18px;margin-bottom: 5px;padding: 0 11px;font-family: 'Poppins', sans-serif;box-sizing: border-box;}

input[type="submit"] {border: 0;background: #0f3f78;color: #fff;padding: 12px 40px;text-decoration: none;font-size: 14px;margin: 6px 0;display: inline-block;border-radius: 24px;
box-shadow: 2px 4px 8px rgba(15,63,120,0.5);height: auto;}

input[type="submit"]:hover {background: linear-gradient(129deg,#ffb843,#f17b3d);}

.copyrights {background: #072141;font-size: 14px;color:#fff;display: flex;width: 100%;padding: 10px;box-sizing: border-box;justify-content: center;}
.copyrights span:nth-child(2) {line-height: 29px;margin-left: 10px;}

#back-top {bottom:10px;position:fixed;right:10px;z-index:9}
#back-top a {text-decoration:none;text-transform:uppercase;transition:all 1s ease 0;width:35px}
#back-top span {background: url(../images/controls.png) no-repeat -2px -2px;border-radius: 5px;display: block;font-size: 0;height: 22px;transition: all .5s ease 0;width: 23px;
box-shadow: 0 0 4px #ccc;}
#back-top span:hover {background:url(../images/controls.png) no-repeat -2px -27px;}


@media only screen and (max-width: 798px) {
	.nav-mobile {display: block;}
	nav {width: 100%;padding: 70px 0 15px;}
	nav ul {display: none;}
	nav ul li {float: none;}
	nav ul li a {padding: 15px;line-height: 20px;}
	nav ul li ul li a {padding-left: 30px;}
	.nav-dropdown {position: static;}
}

@media screen and (min-width: 799px) {
	.nav-list {display: block !important;}
}


@media only screen and (max-width:767px){
	.container{width:100%;}
	.navigation{padding:0;}
	 nav {width: 100%;padding: 0;background: #404e74;}
	.brand {height: 70px;}
	.brand a img {width: 100%;margin: 20px 12px 12px;}
	.nav-container {display: inline-block;width: 100%;}
	.master-row, .services, .verticals {width: 94%;margin: 0 auto;}
	.desc-sec, .img-sec {width: 100%;padding: 50px 0;}
	.desc-sec, .img-sec, .ser-child, .part-child, .ver-child {width: 100%;padding: 50px 0;}
	.part-child{padding:0;}
	.copyrights{flex-wrap:wrap;}
	.c-logo{width: 100%;text-align: center;}
	nav ul li a, nav ul li a:visited {color: #fff;}
}

@media only screen and (max-width:767px){
	.ver-child, .ser-child {width: 49%;}
	.ver-child:last-child {width: 100%;}
	.sup-child {width: 100%;margin-bottom: 18px;text-align: center;}
	.sup-child::after {right: 0;left: 0;margin: auto;}
	.contact p {width: 96%;}
	.contact p::after {top: 106px;}
	.footer-child {width: 33%;}
	.footer-child:last-child {width: 100%;margin-top: 25px;}
	.contact p::after{display: none;}
}

.owl-nav {position: absolute;width: 100%;top: 17px;}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {font-size:64px !important;color:#ccc !important;}
.owl-carousel .owl-nav button.owl-prev{float:left;}
.owl-carousel .owl-nav button.owl-next{float:right;}
.owl-dots{display:none;}
